@model PagedList.IPagedList<MonoTestUciliste.Service.Entities.Student>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>

<p>
    @Html.ActionLink("Kreiraj novo", "Create")
</p>
@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{ <p> Traži po pojmu: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) <input type="submit" value="Traži" /></p> }
<table class="table">
    <tr>
        <th> @Html.ActionLink("Prezime", "Index", new { sortOrder = ViewBag.NameSortParm }) </th>
        <th>Ime</th>
        <th> @Html.ActionLink("Datum Upisa", "Index", new { sortOrder = ViewBag.DateSortParm }) </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumUpisa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))




</p>
